.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.btn-colored-blue {
  color: var(--elements-background-color);
  background-color: var(--primary-blue);
}

.btn-colored-red {
  color: var(--elements-background-color);
  background-color: var(--warning-red-color);
}

.btn-colored-blue:disabled {
  color: var(--elements-background-color);
  background-color: var(--disabled-blue);
  cursor: default;
}

.btn-outline {
  background-color: var(--elements-background-color);
  color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.btn-outline:disabled {
  color: var(--elements-background-color);
  background-color: var(--primary-blue);
  cursor: default;
}

.btn-prefixIcon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-icon {
  width: auto;
  align-items: center;
  justify-content: center;
  margin-inline: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.btn-icon img {
  height: 30px;
  width: auto;
  border-radius: 0px;
}
