.replies-wrapper {
  background-color: gray;
  border-left: 1.5px solid grey;
  width: 90%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  margin-block: 10px;
}

.replies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background-color: white;
  margin-block: 10px;
  border-radius: 10px;
}

.replies .txt-body:nth-child(2) {
  width: 90%;
}

.replies .buttons-wrapper .likes-wrapper .txt-body {
  width: auto;
}
