.buttons-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.edit-delete-btns-wrapp {
  display: flex;
  flex-wrap: row;
  align-items: center;
  justify-content: center;
}
