.author-details-wrapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.txt-overline {
  margin-right: 10px;
}

.txt-caption {
  width: auto;
  align-self: center;
  margin-left: auto;
}
