.user-info-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
