.likes-wrapper {
  width: 140px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(243, 243, 243);
  align-self: flex-start;
  border-radius: 5px;
}

.likes-wrapper p {
  color: #5357b6;
  font-size: 16px;
  width: auto;
  margin-inline: 8px;
}
