:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --primary-blue: #5357b6;
  --disabled-blue: #7e81d4;
  --elements-background-color: rgb(255, 255, 255);
  --warning-red-color: #980923;
  --body-color-black: #030303;
  --caption-color-grey: #2e2e2e;
  --page-background-color: rgb(233, 233, 233);

  font-size: 12px;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--page-background-color);
}
