.txt {
  font-size: 1rem;
  font-weight: 400;
  color: var(--paragraph-color-black);
}

.txt-variant-body {
  font-size: 1.25rem;
}

.txt-variant-caption {
  color: var(--caption-color-grey);
}

.txt-variant-overline {
}

.txt-color-blue {
  color: var(--primary-blue);
}

.txt-badge {
  border-radius: 1rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}

.txt-color-blue.txt-badge {
  background-color: var(--primary-blue);
  color: var(--elements-background-color);
}

.txt-bold {
  font-weight: 600;
}
